{{ 'about-hydroxy.css' | asset_url | stylesheet_tag }}

<section class="about-hydroxy page-width">
  <div class="about-hydroxy__wrapper">
    <div class="about-hydroxy-title">
      <h2>{{ section.settings.title }}</h2>
      <div class="about-hydroxy-logo">
        <img src="{{ 'hydroxy-logo.png' | asset_url }}" width="229" height="30" alt="logo hydroxyrx">
      </div>
    </div>

    <div class="about-hydroxy__body">
      <div class="about-hydroxy__content">
        <div class="about-hydroxy__content-description">
          {{ section.settings.description }}
        </div>

        <a class="about-hydroxy__link btn btn-blue" href="{{ all_products['7-hydroxymitragynine'].url }}"> Shop now </a>
      </div>
      <div class="about-hydroxy__image">
        {% if section.settings.image != blank %}
          <img
            src="{{ section.settings.image | image_url: width: 700 }}"
            width="700"
            height="530"
            loading="lazy"
            alt="Flower pictures"
          >
        {% else %}
          <img
            src="{{ 'about-hydroxy-flora.jpg' | asset_url }}"
            width="700"
            height="530"
            loading="lazy"
            alt="Flower pictures"
          >
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About Hydroxy",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Заголовок",
      "default": "title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Описание",
      "default": "<p>description</p>"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Изображение"
    }
  ],
  "presets": [
    {
      "name": "About Hydroxy"
    }
  ]
}
{% endschema %}
